table{
     background-color:grey;
     border: 1px solid grey;
     margin: auto;
   }

div{
    height: 40px;
    width: 40px;
    margin:auto;
    background-color: white;
    border: 1px solid black; 
    border-radius: 40px; 
  }
  .kwadrat niebieski{
    background-color: blue;
    border: 1px solid red; 

  }

td{width: 70px;
    height: 70px;
   
}

.red{background-color: red;}
.yellow{background-color:yellow;}
.black{background-color: black;}
.white{background-color: white;}
.blue{background-color: blue;}
.orange{background-color: orange;}
.brown{background-color: brown;}
.cyan{background-color: cyan;}
.green{background-color: green;}
